@{
    ViewData["Title"] = "Enter a Movie";
    @model Mike09.Models.Movie

}

@*View that automatically brings in the info needed to edit the previously selected movie*@
<div class="text-center">
    <h1>Edit information for @ViewBag.Movie.Title:</h1>
</div>

<div class="text-center">
    <form asp-action="EditMoviePartTwo" method="post">
        <div class="row">
            <label class="col" asp-for="Category">Category:</label>
            <input class="col" asp-for="Category" />
        </div>
        <br />

        <div class="row">
            <label class="col" asp-for="Title">Title:</label>
            <input class="col" asp-for="Title" />
        </div>
        <br />

        <div class="row">
            <label class="col" asp-for="Year">Year:</label>
            <input class="col" asp-for="Year" />
        </div>
        <br />

        <div class="row">
            <label class="col" asp-for="Director">Director:</label>
            <input class="col" asp-for="Director" />
        </div>
        <br />

        <div class="row">
            <label class="col" asp-for="Rating">Rating:</label>
            <select class="col" asp-for="Rating">
                <option value=""></option>
                <option value="G">G</option>
                <option value="PG">PG</option>
                <option value="PG13">PG-13</option>
                <option value="R">R</option>
            </select>
        </div>
        <br />

        <div class="row">
            <label class="col" asp-for="Edited">Edited:</label>
            <select class="col" asp-for="Edited">
                <option value="false"></option>
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
        </div>
        <br />

        <div class="row">
            <label class="col" asp-for="LentTo">Lent To:</label>
            <input class="col" asp-for="LentTo" />
        </div>
        <br />

        <div class="row">
            <label class="col" asp-for="Notes">Notes:</label>
            <input class="col" asp-for="Notes" />
        </div>
        <br />

        <input type="hidden" asp-for="MovieID" value="@ViewBag.Movie.MovieID" />

        <button type="submit" class="btn btn-primary">Update @ViewBag.Movie.Title</button>

        <div asp-validation-summary="All"></div>

    </form>
</div>
