@{
    ViewData["Title"] = "Home Page";
}

@*index/welcome view*@
<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img class="img-fluid rounded" src="~/img/JoelHilton.jpg" />
</div>