@{
    ViewData["Title"] = "Podcasts";
}

@*view with link to bacon sale*@
<div class="text-center">
    <a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="https://baconsale.com/">Check out Joel's Podcasts at Bacon Sale</a>
</div>